<section class="min-h-[92vh] w-[100vw] bg-gradient-to-br">
  <div class="text-center px-[20vw] max-lg:px-[5vw] pt-[8vh]">
    <h1 class="text-6xl max-lg:text-4xl text-amber-600">
      Send wishes to your loved<span class="text-xl">(optional)</span> ones
      during the sussy week of
      <span class="line-through">February</span> Febraury.
    </h1>
    <div class="text-end top-1 max-lg:text-xs">
      I only had money to buy wrong spelling domain.
    </div>
  </div>
  <div class="flex justify-center py-[5vh] max-lg:py-[4vw]">
    <button
      class="text-xl max-lg:text-md bg-pink-700 p-3 rounded-3xl transition-colors text-white hover:bg-pink-300 hover:cursor-pointer hover:text-gray-700"
      [routerLink]="['lovedays']"
    >
      Whatever Btn ->
    </button>
  </div>
  <div class="text-center px-[10vw] max-lg:px-[3vw] text-4xl max-lg:text-sm text-green-600">
    Due to budget constraints, this homepage will end in 80vh. Hope you're able
    to find use in whatever BS I've come up with.
  </div>
  <div class="py-10 max-lg:py-6 text-center text-xl max-lg:text-sm">xxxxxxxx</div>
  <div class="text-8xl max-lg:text-6xl animate-bounce text-center">heart</div>
  <div class="text-center max-lg:text-xs">
    PS: due to budget constraints we don't have an actual heart pic.
  </div>
  <div class="text-center max-lg:text-xs">
    PS: I am also very lazy to add an icon library so ye.
  </div>
</section>
