<section class="h-[92vh] w-[100%] bg-pink-100 overflow-y-auto overflow-x-clip">
  <h1 class="text-center text-5xl text-pink-600 py-5">Rose Day</h1>
  <div *ngIf="data !== null">
    <div class="text-2xl text-center">
      Hello,
      <span class="text-5xl text-white text-stroke-1">{{ data.receiver }}</span>
    </div>
    <div class="flex flex-col items-center justify-center py-3">
      <div class="text-md">Here's a Rose for you from</div>
      <span class="text-7xl p-2 text-blue-600">{{ data.sender }}</span>
      <div>Click on the rose to read the message</div>
    </div>
    <div class="flex items-center justify-center w-[100vw] p-5">
      <dialog #messageDialogRef class="relative rounded-2xl w-1/2 overflow-x-scroll max-lg:w-1/1 bg-white/80 text-center min-h-[30vh] p-2 text-2xl">
        {{ data.message }}
      </dialog>
    </div>
    <div class="flex justify-center items-center">
      <button
        class="flex justify-center hover:cursor-pointer"
        (click)="messageDialogRef.show()"
      >
        <img class="w-[30vw] animate-pulse" src="{{ data.roseLink }}" alt="Rose" />
      </button>
    </div>
  </div>
  <div *ngIf="data === null">
    <div>
      <form
        #form="ngForm"
        (ngSubmit)="onSubmit(form)"
        class="bg-white mx-[5vw] p-10 max-md:p-3 rounded-2xl"
      >
        <div class="flex flex-wrap">
          <div
            class="w-1/2 max-lg:w-1/1 flex flex-col items-center justify-center p-5 text-2xl max-md:text-xl"
          >
            <label for="sender" class="">From</label>
            <input
              type="text"
              id="sender"
              name="sender"
              ngModel
              #sender="ngModel"
              class="text-3xl text-center max-md:text-xl w-[80%] p-4 bg-pink-100 rounded-3xl"
            />
          </div>
          <div
            class="w-1/2 max-lg:w-1/1 flex flex-col items-center justify-center p-5 text-2xl max-md:text-xl"
          >
            <label for="receiver" class="">To</label>
            <input
              type="text"
              id="receiver"
              name="receiver"
              ngModel
              #receiver="ngModel"
              class="text-3xl text-center max-md:text-xl w-[80%] p-4 bg-pink-100 rounded-3xl"
            />
          </div>
        </div>
        <div class="flex flex-wrap items-center justify-center">
          <div
            class="w-2/3 max-lg:w-1/1 flex flex-col items-center justify-center p-2 text-2xl max-md:text-sm"
          >
            <label for="message">Enter a message to give!!</label>
            <textarea
              type="text"
              id="message"
              name="message"
              ngModel
              #message="ngModel"
              class="text-md text-justify w-[90%] p-4 bg-pink-100 rounded-3xl"
              rows="6"
            ></textarea>
          </div>
          <div
            class="w-1/3 max-lg:w-1/1 flex flex-col items-center justify-center p-2 text-2xl max-md:text-sm"
          >
            <label for="">Choose Rose!!!</label>
            <div
              class="flex flex-wrap items-center justify-center w-[90%] p-4 bg-pink-100 rounded-3xl h-[30vh] overflow-y-auto"
            >
              <button
                class="w-1/1 flex justify-center bg-white border-2 rounded-2xl hover:cursor-pointer my-1"
                *ngFor="let img of roses; let i = index"
                (click)="selectedRose = i"
                [ngClass]="{ 'border-green-400': selectedRose === i }"
                type="button"
              >
                <img src="{{ img }}" alt="rose-{{ i }}" class="w-[50%]" />
              </button>
            </div>
          </div>
        </div>
        <div class="text-center m-2 p-2">
          <button
            type="submit"
            class="text-center bg-pink-400 p-4 rounded-3xl transition-colors hover:cursor-pointer hover:bg-pink-300"
          >
            Generate Wish Link
          </button>
        </div>
        <div class="flex items-center justify-center">
          <div
            class="w-2/3 text-center border-2 overflow-clip border-red-200 rounded-2xl transition-all mx-5 hover:cursor-pointer hover:border-2 hover:border-green-400"
            (click)="onClickLink()"
            #linkContainerRef
          ></div>
        </div>
      </form>
    </div>
    <div class="text-center my-10 text-3xl">
      Below lies the grave of my actual plan I had (which I though I can
      complete in 3 days)
    </div>
    <div class="main-content flex max-lg:flex-wrap p-5 min-h-[60vh] text-xl">
      <div
        class="w-2/3 max-lg:w-1/1 bg-pink-200 border-4 border-pink-800 rounded-xl p-3 mr-1"
      >
        <div class="tabs flex justify-around">
          <button
            class="w-1/3 p-3 rounded-lg m-1 transition-colors shadow-xs shadow-black bg-pink-100 hover:cursor-pointer hover:bg-pink-300"
            [ngClass]="{ 'bg-pink-400': tabSelected === 'saved' }"
            (click)="tabSelected = 'saved'"
          >
            Saved Setups
          </button>
          <button
            class="w-1/3 p-3 rounded-lg m-1 transition-colors shadow-xs shadow-black bg-pink-100 hover:cursor-pointer hover:bg-pink-300"
            [ngClass]="{ 'bg-pink-400': tabSelected === 'components' }"
            (click)="tabSelected = 'components'"
          >
            Components
          </button>
        </div>
        <hr />
        <div></div>
      </div>
      <div
        class="w-1/3 max-lg:w-1/1 bg-pink-200 border-4 border-pink-400 rounded-xl p-3 ml-1"
      >
        <div class="header flex justify-between items-center py-2">
          <div class="w-2/3 file-name text-2xl">
            <input
              [value]="workingFile !== null ? workingFile : 'Unsaved File'"
            />
          </div>
          <div class="actions w-1/3 flex justify-end">
            <button
              class="p-2 rounded-lg m-1 text-green-300 text-xl bg-pink-500 shadow-black shadow-2xs transition-colors hover:cursor-pointer hover:bg-green-300 hover:text-pink-500"
            >
              Save
            </button>
            <button
              class="p-2 rounded-lg m-1 text-yellow-200 text-xl bg-red-500 shadow-black shadow-2xs transition-colors hover:cursor-pointer hover:bg-yellow-200 hover:text-red-500"
            >
              Reset
            </button>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</section>
