<section class="h-[92vh] overflow-y-auto p-10">
  <div class="text-3xl">Recent Days</div>
  <div class="flex flex-wrap justify-center p-10 max-md:p-2">
    <div
      class="w-1/3 max-xl:w-1/2 max-md:w-1/1"
      *ngFor="let day of filteredDays; let i = index"
    >
      <app-card
        cardTitle="{{ day.name }}"
        cardDate="{{ day.date | date }}"
        cardBody="{{ day.description }}"
        cardLink="{{ day.link }}"
        [cardDisabled]="day.disabled ?? false"
      />
    </div>
  </div>
  <div class="text-3xl py-3">Find which day to wish:</div>
  <div class="flex flex-wrap p-10 max-md:p-2">
    <div
      class="w-1/3 max-xl:w-1/2 max-md:w-1/1 my-3"
      *ngFor="let day of days; let i = index"
    >
      <app-card
        cardTitle="{{ day.name }}"
        cardDate="{{ day.date | date }}"
        cardBody="{{ day.description }}"
        cardLink="{{ day.link }}"
        [cardDisabled]="day.disabled ?? false"
      />
    </div>
  </div>
</section>
